* {
    padding: 0px;
    margin: 0px;
    box-sizing: content-box;
}
.navbar {
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #0b0f19;
    color: white;
}
.logo {
    height: 30px;
    width: 30px;
    display: grid;
    align-items: center;
    justify-content: space-evenly;
    background-image: url(huggingface_logo-noborder.svg);
    background-size: cover;
}
.nav-Search  {
    height: 30px;
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: start;
}
.Search-input{
    height: 100%;
    width: 100%;
    padding-left: 20px;
    font-size: 1rem;
    background-color: #0b0f19;
    color: oklch(0.872 0.01 258.338);
    outline-style: none;
    border: none;
}
.Search-icon{
    height: 20px;
    width: 20px;
    padding-left: 10px;
    font-size: large;
    background-color: #0b0f19;
    color: grey;
}
.border{
    border: 2px solid #1d2d37;
    border-radius: 7px;
}
.border:hover{
    border: 3px solid whitesmoke;
}
.models {
    display: inline-block;
    text-align: inherit;
    align-items: center;
    padding-left: 40px;
}
ul {
    display: flex;
}
.list {
    color: oklch(0.878 0.01 258);
}
.list a{
    text-decoration: none;
}
li {
    list-style-type: none;
}
.list ul {
    display: flex;
} 
.models {
    padding-inline: 20px;
    height: 10px;
}
.Datasets  {
    padding-inline: 20px;
}
.Spaces {
    padding-inline: 20px;
}
.Community {
    padding-inline: 20px;
}
.Docs {
    padding-inline: 20px;
}
.Enterprise {
    padding-inline: 20px;
}
.Pricing{
    padding-inline: 20px;
}
.nav-options {
    padding-left: 40px;
    border-right: 2px solid #141c2e ;
    color: grey; 
}
select{
    background-color: transparent;
    border: none;
    color: oklch(0.878 0.01 258.531);
}
.login {
    height: 10px;
    padding-right: 30px;
}
.nav-Signup {
    height: 30px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #141c2e;
    color: oklch(0.878 0.01 258);
    
}
button {
    background-color: transparent;
    border: none;
    color: oklch(0.878 0.01 258.531);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
/* .nav-Signup :hover{
    background-color: oklch(0.878 0.01 258.531);
    } */
    
    /* #main-panel */
    
.body {
    margin: 0;
    font-family: 'Segoe UI',sans-serif;
    background-color:#0b0f19;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
 }
.container{
    max-width: 85vw;
    padding: 40px;
    background:radial-gradient(circle at 30% 75%, rgba(251, 247, 247, 0.06), transparent 20%),
        linear-gradient(0deg, #121621 0%, #0c0f20 40%);
    border-radius:20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: center; 
}
.New-flex {
    height: 20px;
    width: 60vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.huggingface-logo {
    height: 20px;
    width: 20px;
        
}
h4{
    font-size: 10px; 
    color: grey;
}
.flex-panel {
    height: 100px;
    width: 78vw;
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.Explore-flex {
    height: 30px;
    width: 150px;
    border: 0.1rem double whitesmoke ;
    border-radius: 15px;
    box-shadow:0 0 20px rgba(0, 0, 0, 0.8);
}
.Explore-flex a {
    padding-top: 2px;
    text-decoration: none;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.browse-flex {
    height: 20px;
}
.browse-flex a {
    text-decoration: none;
    color: whitesmoke;
}
span{
    height: 10px;
    color: grey;
}    