* {
    padding: 0px;
    margin: 0px;
    box-sizing: content-box;
}
.navbar {
    height: 60px;
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #0b0f19;
}
.logo {
    height: 25px;
    width: 25px;
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(huggingface_logo-noborder.svg);
    background-size: cover;
}
.logo-name {
    height: 30px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    font-size: 1.5rem;
    color: oklch(0.878 0.01 258.531);
}

.nav-Search {
    height: 35px;
    width: 300px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background-color: #0b0f19;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.border {
    border: .09rem solid #182033;
}
.Search-input {
    height: 35px;
    width: 250px;
    display: flex;
    justify-content: space-evenly;
    background-color: #0b0f19;
    color: oklch(0.878 0.01 258);
    outline-style: none;
    border: none;
    
}

.Search-icon{
    height: 35px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: grey;
}
    
.nav-list{
    height: 20px;
    padding: 2px;
    font-family:16px var(--default-font-family, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
}
ul {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
}
.list {
    color: oklch(0.878 0.01 258);
}
.list a{
    text-decoration: none;
}
li {
    list-style-type: none;
}
.list ul {
    display: flex;
} 
.nav-list a {
    color: oklch(0.878 0.01 258);
}
a {
   text-decoration: none;
}
.models {
    height: 30px;
    padding-left: 30px;
    svg {
        height: 15px;
        width: 20px;
        /* padding-right: 10px; */
        color: azure;
    } 
}
    .Datasets  {
    height: 30px;
    padding-inline: 20px;
    svg {
        height: 15px;
        width: 20px;
        /* padding-right: 10px; */
        color: azure;
    } 
}
.Spaces {
    height: 30px; 
    padding-inline: 20px;
    svg {
        height: 15px;
        width: 20px;
        /* padding-right: 10px; */
        color: azure;
    } 
}
.Community {
    height: 30px;
    padding-inline: 20px;
}
.Docs {
    height: 30px;
    padding-inline: 20px;
    svg {
        height: 15px;
        width: 20px;
        /* padding-right: 10px; */
        color: azure;
    } 
}
.Enterprise {
    height: 30px;
    padding-inline: 20px;
    svg {
        height: 15px;
        width: 20px;
        /* padding-right: 10px; */
        color: azure;
    } 
}
.Pricing{
    height: 30px;
    padding-inline: 20px;
    svg {
        height: 15px;
        width: 20px;
        /* padding-right: 10px; */
        color: azure;
    } 
}
.options {
    height: 30px;
    padding-left: 30px;
    border-right: 2px solid #141c2e ;
    color: grey; 
    svg {
        height: 15px;
        width: 20px;
        /* padding-right: 10px; */
        color: azure;
    } 
}
.login {
    height: 20px;
    padding: 20px;
    /* padding-right: 30px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.Signup {
    height: 30px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #141c2e;
    color: oklch(0.878 0.01 258);
    
}
button {
    background-color: transparent;
    border: none;
    color: oklch(0.878 0.01 258.531);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.body {
    margin: 0;
    font-family: 'Segoe UI',sans-serif;
    background-color:#0b0f19;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
 }
.container{
    max-width: 85vw;
    padding: 40px;
    background:radial-gradient(circle at 30% 75%, rgba(251, 247, 247, 0.06), transparent 20%),
        linear-gradient(0deg, #121621 0%, #0c0f20 40%);
    border-radius:20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: center; 
}
.New-flex {
    height: 20px;
    width: 60vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.huggingface-logo {
    height: 20px;
    width: 20px;
        
}
h4{
    font-size: 10px; 
    color: grey;
}
.flex-panel {
    height: 100px;
    width: 78vw;
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.Explore-flex {
    height: 30px;
    width: 150px;
    border: 0.1rem double whitesmoke ;
    border-radius: 15px;
    box-shadow:0 0 20px rgba(0, 0, 0, 0.8);
}
.Explore-flex a {
    padding-top: 2px;
    text-decoration: none;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.browse-flex {
    height: 20px;
}
.browse-flex a {
    text-decoration: none;
    color: whitesmoke;
}
span{
    height: 10px;
    color: grey;
}    